{% extends "layout.html" %}
{% block content %}

    <!-- Cards Section Start -->
    <section id="section1" class="row address parallax-window" data-parallax="scroll"
        data-image-src="static/img/slider/1900x1000.jpg">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title text-center">
                        <h3>HERE ARE THE</h3>
                        <h2>DONATIONS</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">

                    <div class="col-md-3">
                        <div class="post-slide">
                            <div class="post-img">
                                <div class="post-abs">
                                    <p>2022-04-03 18:00:00<br>Budapest address 1</p>
                                    <div class="button container-contact100-form-btn login-card">
                                        <button class="contact100-form-btn">
                                            <span>
                                                Pickup
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <img src="static/img/new/clothes.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Card Section End -->
    
{% endblock content %}