{% extends "layout.html" %}
{% block content %}
<!-- Login Start -->
<section id="section2" class="login row address parallax-window" data-parallax="scroll"
    data-image-src="status/img/slider/1900x1000.jpg">
    <div class="contact100-form-title container col-lg-7">
        <h3>Enter the information for</h3>
        <h2>Donations</h2>
        <form class="contact100-form validate-form" action="" method="post">

            <div class="col-lg-4 label-input100 dropdown">
                <label for="genre">Genre</label>
                <select class="form-control" name="genre" id="genre">
                    <option value="select">Select a type</option>
                    <option value="food">Food</option>
                    <option value="clothes">Clothes</option>
                    <option value="toiletries">Toiletries</option>
                </select>
            </div>

            <div class="col-lg-8 label-input100 date-n-time">
                <label for="date-n-time">Pickup time</label>
                <input type="datetime-local" class="form-control" id="pickup-time" name="pickup-time">
            </div>

            <div class="col-lg-12 label-input100 login-card">
                <label for="pickup-addess">Pickup Address</label>
                <input type="password" class="form-control" id="exampleInputPassword1"
                    placeholder="Enter pickup addess here" />
            </div>

            <div class="container-contact100-form-btn login-card">
                <button class="contact100-form-btn">
                    <span>
                        Donate
                    </span>
                </button>
            </div>
        </form>
    </div>
</section>
<!-- Login End -->
{% endblock content %}