{% extends "layout.html" %}
{% block content %}

<!-- Login Start -->
<section id="section2" class="login row address parallax-window" data-parallax="scroll"
    data-image-src="img/slider/1900x1000.jpg">
    <div class="contact100-form-title container col-lg-7">
        <h3>Enter your information</h3>
        <h2>Register</h2>
        <form class="contact100-form validate-form" action="" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="row">
                <div class="col-lg-6 label-input100 login-card">
                    <label for="exampleInputFirstName1">First Name</label>
                    <input type="text" class="form-control" id="exampleInputFirstName1"
                        placeholder="Enter your first name here" />
                </div>

                <div class="col-lg-6 label-input100 login-card">
                    <label for="exampleInputLastName1">Last Name</label>
                    <input type="text" class="form-control" id="exampleInputLastName1"
                        placeholder="Enter your last name here" />
                </div>

                <div class="col-lg-12 label-input100 login-card">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter your email addess here" />
                </div>

                <div class="col-lg-12 label-input100 login-card">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"
                        placeholder="Enter your super secure password here" />

                </div>

                <div class="col-lg-12 label-input100 login-card">
                    <label for="exampleInputPhoneNumber1">Phone Number</label>
                    <input type="text" class="form-control" id="exampleInputPhoneNumber1"
                        placeholder="Enter your phone number with country code here" />

                </div>

                <div class="col-lg-3 label-input100 login-card">
                    <label for="exampleInputCityName1">City</label>
                    <input type="text" class="form-control" id="exampleInputCityName1"
                        placeholder="Enter your city here" />
                </div>

                <div class="col-lg-9 label-input100 login-card">
                    <label for="exampleInputAddressName1">Street Address</label>
                    <input type="text" class="form-control" id="exampleInputAddressName1"
                        placeholder="Enter your street address here" />
                </div>
            </div>

            <div class="container-contact100-form-btn login-card">
                <button class="contact100-form-btn">
                    <span>
                        Register
                        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                    </span>
                </button>
            </div>

            <div class="container-contact100-form-btn">
                <a href="login.html"><u> Already Registered </u> </a>
            </div>
        </form>
    </div>
</section>
<!-- Login End -->
{% endblock content %}