<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kyiv Support</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Help the Ukraine">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <!-- Place favicon.ico in the root directory -->
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>

</head>

<body>
    <!-- Header Area Start -->
    <header class="top">
        <div class="fixedArea">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 noPadding">
                    <div class="content-wrapper one">
                        <!-- Main Menu Start -->
                        <!-- Navbar-->
                        <header class="header">
                            <nav class="navbar navbar-default myNavBar">
                                <div class="container">

                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <div class="row">
                                            <div class="col-md-9 col-sm-9 col-xs-9">
                                                <div class="row">
                                                    <div class="col-md-3 col-xs-3 col-sm-3">
                                                        <a style="padding-top:0px;"
                                                            class="navbar-brand navBrandText text-uppercase font-weight-bold"
                                                            href="index.html"><img src="img/logo/logo2.jpg"
                                                                alt="logo" /></a>

                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <button type="button" class="navbar-toggle collapsed"
                                                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                                                    aria-expanded="false">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav navbar-right navBar">
                                            <li class="nav-item"><a href="#section0"
                                                    class="nav-link text-uppercase font-weight-bold js-scroll-trigger">Home
                                                    <span class="sr-only">(current)</span></a></li>
                                            <li class="nav-item"><a href="#section1"
                                                    class="nav-link text-uppercase font-weight-bold js-scroll-trigger">About</a>
                                            </li>
                                            <li class="nav-item"><a href="#section2"
                                                    class="nav-link text-uppercase font-weight-bold js-scroll-trigger">Registration</a>
                                            </li>
                                            <li class="nav-item"><a href=""
                                                    class="nav-link text-uppercase font-weight-bold js-scroll-trigger">Login</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </header>
                        <!-- Main Menu End -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <div class="row">
        <div class="container">
            <div class="col-md-4">
                <div class="post-slide">
                    <div class="post-img">
                        <div class="post-abs">
                            <p>2022-04-03 18:00:00</p>
                            <p>Budapest address 1</p>
                        </div>
                        <img src="img/new/Clothes.jpg" alt="">
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="post-slide">
                    <div class="post-img">
                        <div class="post-abs">
                            <p>2022-04-02 17:00:00</p>
                            <p>Budapest address 2</p>
                        </div>
                        <img src="img/new/Clothes.jpg" alt="">
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="post-slide">
                    <div class="post-img">
                        <div class="post-abs">
                            <p>2022-04-03 15:00:00</p>
                            <p>Budapest address 3</p>
                        </div>
                        <img src="img/new/Food.jpg" alt="">
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="post-slide">
                    <div class="post-img">
                        <div class="post-abs">
                            <p>2022-04-10 20:00:00</p>
                            <p>Budapest address 4</p>
                        </div>
                        <img src="img/new/Toiltries.jpg" alt="">
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="post-slide">
                    <div class="post-img">
                        <div class="post-abs">
                            <p>2022-04-07 18:00:00</p>
                            <p>Budapest address 5</p>
                        </div>
                        <img src="img/new/Food.jpg" alt="">
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="post-slide">
                    <div class="post-img">
                        <div class="post-abs">
                            <p>2022-04-11 19:00:00</p>
                            <p>Budapest address 6</p>
                        </div>
                        <img src="img/new/Clothes.jpg" alt="">
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="post-slide">
                    <div class="post-img">
                        <div class="post-abs">
                            <p>2022-04-03 18:00:00</p>
                            <p>Budapest address 7</p>
                        </div>
                        <img src="img/new/Toiltries.jpg" alt="">
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="post-slide">
                    <div class="post-img">
                        <div class="post-abs">
                            <p>2022-04-20 18:30:00</p>
                            <p>Budapest address 8</p>
                        </div>
            <div class="col-md-4">
                <div class="post-slide">
                    <div class="post-img">
                        <div class="post-abs">
                            <p>2022-04-05 21:00:00</p>
                            <p>Budapest address 9</p>
                        </div>
                        <img src="img/new/Clothes.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer Start -->
    <footer class="footer-area">
        <!--<div class="container main-footer row" >

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget pr-60">
                        <div class="footer-logo pb-25">
                            <div class="col-md-12 noPadding logo-text">
                                <a class="" href="index.html"><img class="img-responsive"
                                        src="img/logo/logo2.jpg" alt="logo" /></a>
                            </div>
                        </div>
                        <p>I must explain to you how all this mistaken idea of denoung pleure and praising pain was born
                            and give you a coete account of the system. </p>
                        <div class="footer-social">
                            <ul class="list-group">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="footer-bottom text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>KYIV SUPPORT.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <script src="js/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/ajax-mail.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/main.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyIMWhs-crjT0yhctbRjfJFq75FlEhSzE&callback=initMap">
        </script>
</body>

</html>