{% extends "layout.html" %}
{% block content %}

<!-- Section0 Area Start -->
<section id="section0" class="slider-area row address parallax-window" data-parallax="scroll"
    data-image-src="status/img/slider/1900x1000.jpg">
    <div class="main-slider owl-theme owl-carousel">
        <!-- Start Slider Slide -->
        <div class="slider-content-area">
            <div class="row">
                <div class="slide-content-wrapper text-center">
                    <div class="slide-content">
                        <img class="classic" src="static/img/logo/ukraineflag.jpg">

                        <h3>Kyiv Support</h3>
                        <h2>Stand for good</h2>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Slider Content -->
    </div>
</section>

<!-- Section0 Area End -->

<!-- Section1 Start -->
<section id="section2" class="row address parallax-window" data-parallax="scroll"
    data-image-src="static/img/slider/image1.jpg">
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <h3>NEED HELP OR WANT TO HELP</h3>
                    <h2>REGISTER YOURSELF</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-4">
                    <div class="post-slide">
                        <div class="post-img">
                            <div class="post-abs">
                                <a href="">Need Help</a>
                            </div>
                            <img src="static/img/new/user.jpg">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="post-slide">
                        <div class="post-img">
                            <div class="post-abs">
                                <a href="register.html">Join as a volunteer</a>
                            </div>
                            <img src="static/img/new/volunteer.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="post-slide">
                        <div class="post-img">
                            <div class="post-abs">
                                <a href="register.html">Join as a supporter</a>
                            </div>
                            <img src="static/img/new/support.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section1 End -->

{% endblock content %}